body{
    background-image: url("images.jpg");
    background-repeat: no-repeat;
    background-size: cover;   
}

h1{
    color: #000;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3{
    color: #000;
    font-size: 30px;
}
div{
    color: #000;
    font-size: 35px;
}
h4{
    color: #000;
    font-size: 50px;
    text-align: left;
    font-family: Calibri;
    font-size: 6.7vw;
    font-weight: bold;
    font-style: italic;
    margin-top: 10%;
   
}
a{
    font-size: 30px;
    color: #000;
}
